/* st-char.css */
.st-title {
	background: #000000;
	color: #ffffff;
	font-size: 28px;
}

.st-elem {
	position: absolute;
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.st-label {
	text-transform: uppercase;
}

.st-physical {
	float:left;
	width: 45%;
}

.st-mental {
	float:right;
	width: 45%;
}

.st-hidden {
	display: none;
}

.st-total {
	font-weight: bold;
}

.st-form-choices {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.st-form-choices li:before {
  content: "\25BA \0020";
  top: 5px;
  left: -10px;
}

/* st-cost */
.st-cost {
	border: 1px solid #000000;
	margin-bottom: 10px;
	width: 100%;
}

.st-cost th, .st-cost td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-align: center;
	padding: 4px;
}

.st-cost th.st-cost-desc {
	text-align: center;
}

.st-cost th {
	text-align: right;
}

.st-cost th:first-of-type {
	width:30%;
}

.st-cost td {
	text-transform: capitalize;
	text-align: left;
}

.st-cost td.st-tech {
	text-align: left;
	text-transform: inherit;
}

/* st-body */
.st-body {
	border: 1px solid #000000;
	margin-bottom: 10px;
	width: 100%;
}

.st-body th, .st-body td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-transform: capitalize;
	padding: 4px;
}

.st-body th.st-body-desc {
	text-align: center;
}

.st-body th {
	text-align: right;
}

.st-body th:first-of-type {
	width:30%;
}

.st-body td {
	text-align: left;
}

/* st-locomotion */
.st-locomotion {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-locomotion th, .st-locomotion td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-transform: capitalize;
	padding: 4px;
}

.st-locomotion th.st-locomotion-desc {
	text-align: center;
}

.st-locomotion th {
	text-align: right;
}

.st-locomotion th:first-of-type {
	width:30%;
}

.st-locomotion td {
	text-align: left;
}

/* st-arms */
.st-arms {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-arms th, .st-arms td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-transform: capitalize;
	padding: 4px;
}

.st-arms th.st-arms-desc {
	text-align: center;
}

.st-arms th {
	text-align: right;
}

.st-arms th:first-of-type {
	width:30%;
}

.st-arms td {
	text-align: left;
}

/* st-skills */
.st-skills {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-skills th, .st-skills td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-align: center;
	text-transform: capitalize;
	padding: 4px;
}

.st-skills th.st-skills-desc {
	text-align: center;
}

.st-skills th {
	text-align: right;
}

.st-skills th:first-of-type {
	width:30%;
}

.st-skills td {
	text-align: left;
}

/* st-traits */
.st-traits {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-traits td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-align: center;
	padding: 4px;
}

.st-traits td:first-of-type {
	text-transform: capitalize;
	width:30%;
}

.st-traits th.st-traits-desc {
	text-align: center;
}

/* st-weakness */
.st-weakness {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-weakness td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-align: center;
	padding: 4px;
}

.st-weakness td:first-of-type {
	text-transform: capitalize;
	width:30%;
}

.st-weakness th.st-weakness-desc {
	text-align: center;
}

.st-weakness td.st-weakness-desc {
	text-align: left;
}

/* st-brain */
.st-brain {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-brain th, .st-brain td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	padding: 4px;
}

.st-brain th.st-brain-desc {
	text-align: center;
}

.st-brain th:first-of-type {
	text-transform: capitalize;
	width:30%;
}

.st-brain th {
	text-align: right;
}

.st-brain td {
	text-align: left;
}

.st-brain td.st-brain-desc {
	text-align: left;
}

.st-clear {
	clear: both;
}
