/* st-char.css */
.st-title {
	background: #000000;
	color: #ffffff;
	font-size: 28px;
}

.st-elem {
	position: absolute;
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.st-label {
	text-transform: uppercase;
}

.st-total {
	font-weight: bold;
}

.st-form-choices {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.st-form-choices li:before {
  content: "\25BA \0020";
  top: 5px;
  left: -10px;
}

/* st-cost */
.st-cost {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-cost th, .st-cost td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-align: center;
	padding: 4px;
}

.st-cost th.st-cost-desc {
	text-align: center;
}

.st-cost td {
	text-transform: capitalize;
}

/* st-skills */
.st-skills {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-skills th, .st-skills td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-align: center;
	text-transform: capitalize;
	padding: 4px;
}

.st-skills th.st-skills-desc {
	text-align: center;
}

/* st-traits */
.st-traits {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.st-traits td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-align: center;
	padding: 4px;
}

.st-traits td:first-of-type {
	text-transform: capitalize;
	width:25%;
}

.st-traits th.st-traits-desc {
	text-align: center;
}

.st-clear {
	clear: both;
}
